body {
    font-size: 14px;
    line-height: 22px;
    font-family: "Open Sans", Arial, Tahoma, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

*::selection {
    background-color: #323232;
}

::selection {
    color: #fff;
}

@media only screen and (min-width: 1240px) {
    .container {
        width: 1220px;
    }
}

header > section.very_top_menu {
    background: #152c3d linear-gradient(to right, rgba(0, 4, 17, 1) 0%, rgba(19, 43, 60, 1) 100%);
    color: white;
    padding: 15px 0;
    font-size: 14px;
}

header > section.very_top_menu a {
    color: white;
}

header > section.very_top_menu ul {
    list-style-type: none;
    padding: 0;
}

header > section.very_top_menu ul.contact_details li {
    display: inline-block;
    margin-right: 10px;
    cursor: default;
}

header > section.very_top_menu ul.contact_details li > i {
    margin-right: 2px;
}

header > section.very_top_menu ul.contact_details,
header > section.very_top_menu nav.social_links,
header > section.very_top_menu nav.social_links ul {
    float: left;
    margin: 0;
}

header > section.very_top_menu ul.social_menu li {
    display: inline-block;
    float: left;
    margin-right: 15px;
    font-size: 16px !important;
}

header > section.very_top_menu ul.social_menu li a {
    text-decoration: none;
}

header > section.very_top_menu .social_links ul {
    float: left;
    display: inline-block;
}

header > section.very_top_menu .social_links ul:last-child {
    float: right;
}

header > section.very_top_menu .btn {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    list-style: none outside none;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: normal;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2px;
    width: 120px;
    height: 25px;
    cursor: pointer;
    font-size: 12px;
    padding: 3px 0 0 0;
}

header > section.very_top_menu .btn:hover {
    color: #ffffff;
}

header section.top_menu.absolute {
    position: absolute;
    width: 100%;
}

header section.top_menu,
header section.top_menu nav {
    z-index: 10;
}

header section.top_menu nav {
    background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
    border: 0;
    padding: 0 0 15px 25px;
    border-bottom: 1px solid #333;
    border-radius: 0;
}

header section.top_menu nav .navbar-brand img {
    height: 34px;
    margin-top: 5px;
}

header section.top_menu nav .navbar-nav > li > a,
header section.top_menu nav .navbar-nav > .active > a,
header section.top_menu nav .navbar-nav > .active > a:focus,
header section.top_menu nav .navbar-nav > .active > a:hover,
header section.top_menu nav .navbar-nav > .open > a,
header section.top_menu nav .navbar-nav > .open > a:focus,
header section.top_menu nav .navbar-nav > .open > a:hover {
    background-color: transparent;
    text-transform: uppercase;
    color: #000000;
}

header section.top_menu nav .navbar-nav a:hover {
    text-decoration: underline;
}

header section.top_menu nav .navbar-nav a .fa-caret-down::before {
    content: "\f107";
}

header section.top_menu nav .navbar-nav > li.bg-dropdown > a,
header section.top_menu nav .navbar-nav > li.bg-dropdown.open > a {
    background: #ececec none repeat scroll 0 0;
    border-radius: 3px;
    padding: 10px 15px;
    margin-top: 5px;
    text-transform: none;
}

header section.top_menu nav .navbar-nav > li.bg-dropdown ul.dropdown-menu {
    padding: 0;
    border-radius: 3px;
    background: #ececec none repeat scroll 0 0;
    font-size: 14px;
    border: 1px solid #e8e8e8;
    border-top-width: 0;
}

header section.top_menu nav .navbar-nav > li.bg-dropdown ul.dropdown-menu li {
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    font-size: 12px;
}

header section.top_menu nav .navbar-nav > li.bg-dropdown ul.dropdown-menu li a {
    padding: 5px 0 5px 10px;
    width: 191px;
}

header section.top_menu nav .navbar-nav > li.bg-dropdown ul.dropdown-menu a:hover {
    color: #9d1715;
    text-decoration: none;
    background: rgba(0, 0, 0, .03);
}

header ul.nav li:hover > ul.dropdown-menu {
    background-color: #f9f9f9;
    padding: 0;
}

header ul.nav li:hover > ul.dropdown-menu li > a {
    padding: 8px 10px 8px 20px;
}

header ul.nav li:hover > ul.dropdown-menu li > a:hover {
    background: #ed1c24;
    color: #ffffff;
    text-decoration: none;
}

header ul.nav li:hover > ul.dropdown-menu.dropdown-big {
    width: 80%;
    left: 10%;
    position: absolute;
    min-height: 412px;
    border: 0;
    top: 50px;
}

header ul.nav li:hover > ul.dropdown-menu.dropdown-big > li {
    width: 100%;
    position: relative;
}

header ul.nav li:hover > ul.dropdown-menu.dropdown-big li ul {
    list-style: none;
}

header ul.nav li:hover > ul.dropdown-menu.dropdown-big > li {
    width: 100%;
    display: inline-block;
    float: left;
    clear: left;
    background-color: #f9f9f9;
    position: initial;
}

header ul.nav li:hover > ul.dropdown-menu.dropdown-big > li > ul {
    padding: 0;
    margin: 0;
}

header ul.nav li:hover > ul.dropdown-menu.dropdown-big > li > a {
    display: block;
    padding: 8px 10px 8px 20px;
    width: 30%;
    color: #000000;
}

header ul.nav li a > i.pull-right {
    margin-top: 3px;
}

header ul.nav li:hover > ul.dropdown-menu.dropdown-big > li > a i.fa-caret-right::before {
    content: "\f105";
}

header ul.nav li:hover > ul.dropdown-menu.dropdown-big li.hover > a,
header ul.nav li:hover > ul.dropdown-menu.dropdown-big li > a:hover {
    background: #ed1c24;
    color: #ffffff;
    text-decoration: none;
}

header ul.nav li:hover > ul.dropdown-menu.dropdown-big li ul.dropdown-menu {
    width: 70%;
    position: absolute;
    top: 0;
    margin: 0 0 0 30%;
    border-radius: 0;
    min-height: 412px;
    box-shadow: none;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-color: #000000;
    background-color: #f9f9f9;
}

header ul.nav li.hover > ul.dropdown-menu,
header ul.nav li:hover > ul.dropdown-menu {
    display: inline-block;
}

.navbar {
    margin-bottom: 0;
}

.bg_white {
    background-color: rgb(255, 255, 255);
}

.bg_dark_blue {
    background-color: rgb(34, 44, 55);
}

.bg_blue {
    background-color: rgb(0, 162, 255);
}

.bg_gray {
    background-color: #f7f7f7;
}

.bg_deg_gray {
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.09) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.09) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.09) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#17000000', endColorstr='#00000000', GradientType=1);
}

.fg_light_blue {
    color: #a7d0f8;
}

.fg_white {
    color: white;
}

.fg_red {
    color: #ed1c24;
}

.img-responsive {
    max-width: 100% !important;
}

.margin_top_10 {
    margin-top: 10px;
}

.margin_top_20 {
    margin-top: 20px;
}

.margin_top_30 {
    margin-top: 30px;
}

.margin_top_40 {
    margin-top: 40px;
}

.margin_top_50 {
    margin-top: 50px;
}

.margin_bottom_20 {
    margin-bottom: 20px;
}

.margin_bottom_50 {
    margin-bottom: 50px;
}

.margin_bottom_70 {
    margin-bottom: 70px;
}

.padding_top_10 {
    padding-top: 10px;
}

.padding_top_20 {
    padding-top: 20px;
}

.padding_top_40 {
    padding-top: 40px;
}

.padding_bottom_10 {
    padding-bottom: 10px;
}

.padding_bottom_20 {
    padding-bottom: 20px;
}

.padding_bottom_40 {
    padding-bottom: 40px;
}

.no_padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no_padding_left {
    padding-left: 0 !important;
}

.no_padding_right {
    padding-right: 0 !important;
}

.carousel {
    z-index: 9;
}

.carousel .carousel-controls {
    left: 0;
    top: auto;
    bottom: 0;
    position: absolute;
    width: 80px;
    height: auto;
}

.carousel .carousel-controls a {
    width: 40px;
    height: 40px;
    float: left;
    position: relative;
    line-height: 40px;
    background: rgba(0, 0, 0, 0.8);
}

.carousel .carousel-controls i {
    line-height: 40px;
}

.carousel .carousel-indicators {
    position: absolute;
    top: 20px;
    right: 15px;
    bottom: auto;
    left: auto;
    width: 50px;
}

.carousel .carousel-indicators li {
    float: left;
    display: block;
    text-indent: 0;
    width: 50px;
    height: 50px;
    border-radius: 0;
    overflow: hidden;
}

.carousel .carousel-indicators li img {
    width: 48px;
    height: 48px;
}

.font_super_bold {
    font-weight: 900;
}

input[type="submit"],
.btn-default {
    font-weight: 400;
    background-color: #9d1715;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 5px 15px;
    border-radius: 4px;
}

input[type="submit"]:hover,
.btn-default:hover {
    background-color: #9d1715;
    color: #fff;
}

form.ugly input,
form.ugly select {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 51%, rgba(246, 246, 246, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
    color: #000;
    width: 100%;
    height: 36px;
    border-bottom: 4px solid #a4bdd1;
}

footer {
    background-color: #192129;
    padding: 20px 0;
    width: 100%;
    float: left;
    position: relative;
}

footer h4 {
    font-size: 16px;
    line-height: 25px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li a {
    margin-bottom: 5px;
    padding: 2px 28px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    display: block;
    background: rgba(0, 0, 0, .1);
    color: #ccc;
}

footer ul li a:hover {
    text-decoration: none;
    color: #ffffff;
}

footer .footer_copy {
    border-top: 1px solid rgba(255, 255, 255, .1);
    padding: 30px 0 10px 0;
    margin-top: 20px;
    color: #ffffff;
}

.about_us_people {
    padding-top: 50px;
    padding-bottom: 400px;
    background: url('../images/pages/atab.png') no-repeat center top;
}

.about_us_menu {
    padding: 15px 0;
    background-color: #ffffff;
    border-top: solid 1px #888;
    border-bottom: solid 1px #333;
}

.about_us_menu a {
    color: #323232;
}

.about_us_menu a:hover {
    color: #9d1715;
}

.about_us_whoweare {
    padding-top: 100px;
    padding-bottom: 30px;
    background: url('../images/pages/bgat-5.jpg') no-repeat fixed center;
    background-size: cover;
    -webkit-background-size: cover;
}

.about_us_whoweare h2 {
    font-size: 46px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 15px;
}

.about_us_whoweare iframe {
    border: 0;
    margin-bottom: 50px;
}

.about_us_bluetitle {
    padding: 55px 0 45px 0;
    background-color: #192129;
    text-align: center;
}

.about_us_bluetitle h2 {
    color: #fff;
    font-size: 37px;
    font-weight: 600;
    line-height: 103%;
}

.about_us_photos h3 {
    text-align: center;
    padding: 15px 0;
    margin: 0;
    font-size: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, .15) 0%, rgba(0, 0, 0, 0) 100%);
}

.about_us_photos > div .animated_photo_text {
    position: relative;
    line-height: 0;
    overflow: hidden;
    display: inline-block;
    max-width: 100%;
}

.about_us_photos > div .animated_photo_text .desc_wrap {
    transition: all .3s ease-in-out;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.about_us_photos > div:hover .animated_photo_text .desc_wrap {
    opacity: 1;
}

.about_us_photos > div .animated_photo_text .photo img {
    transition: all .3s ease-in-out;
}

.about_us_photos > div:hover .animated_photo_text .photo img {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}

.about_us_photos > div .animated_photo_text .desc_txt {
    color: #fff;
    font-size: 15px;
    line-height: 22px;
    padding: 45px 40px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.langinstitute_banner {
    padding-top: 30px !important;
    padding-bottom: 20px !important;
    background: url('../images/pages/bannerALI.jpg') no-repeat center;
}

.langinstitute_banner > div {
    padding-top: 100px;
    padding-bottom: 100px;
}

.langinstitute_banner h1 {
    text-align: center;
    color: #fff;
    text-shadow: 0 0 9px #000;
    font-weight: 300;
    font-size: 25px;
    line-height: 25px;
}

.langinstitute_banner h3 {
    text-align: center;
    color: #fff;
    text-shadow: 0 0 9px #000;
    font-size: 25px;
    line-height: 27px;
    font-weight: 300;
}

.menu_red {
    padding: 15px 0 30px 0;
    background-color: #da251d;
}

.menu_red ul {
    padding: 0;
    margin: 0;
}

.menu_red ul li {
    display: inline-block;
    padding: 0 10px;
}

.menu_red ul li a {
    color: #ffffff;
}

.menu_red ul li a:hover {
    color: #ffbf00;
}

.menu_red ul li + li {
    border-left: 1px solid #000000;
}

.blue_banest_section p {
    color: #ffffff;
}

.blue_banest_section .blue_banest {
    background: url('../images/pages/banest.jpg') no-repeat center;
    background-size: cover !important;
    bottom: 0;
    top: 0;
    left: 20px;
    position: absolute;
    width: 48%;
    height: auto;
}

h1 {
    font-weight: 300;
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 15px;
}

ul.red_first > li:first-child {
    padding: 10px 0;
    color: #ed1c24;
    list-style: none;
    margin: 0;
}

article ul,
.bg_deg_gray ul,
ul.red_squares {
    margin: 0;
    padding: 0;
}

.langinstitute_miami ul.red_squares {
    padding-left: 30px;
}

article ul,
.bg_deg_gray ul,
ul.left_padded {
    padding-left: 20px;
}

article ul li,
.bg_deg_gray ul li,
ul.red_squares li {
    list-style-image: url('../images/bullet.png');
    line-height: normal;
    font-size: 14px;
    color: #000;
    margin: 0;
}

ul.btn_big_red {
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    float: left;
}

ul.btn_big_red li {
    list-style: none !important;
}

ul.btn_big_red li a {
    background-color: #da251d;
    color: #ffffff;
    font-size: 16px;
    padding: 18px 25px;
    border-radius: 5px;
    text-align: inherit;
    width: 100%;
    display: block;
}

.langinstitute_miami {
    background: #daecff url('../images/pages/miami.jpg') no-repeat center;
    background-size: contain !important;
}

.bordered-content {
    display: flex;
}

.bordered-content > div {
    border: solid 1px #999;
    padding: 15px !important;
    color: #000;
}

.footer-menu li {
    width: 100%;
}

.footer-menu > li > a {
    color: #a7d0f8;
    background: transparent;
    box-shadow: transparent;
    border: none;
    font-size: 16px;
    line-height: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.footer-menu > li > a:hover {
    background: transparent;
    color: #a7d0f8;
}

.footer-menu {
    width: 100%;
}

.footer-menu > li {
    float: left;
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
    float: left;
    width: 100%;
    clear: both;
    border: none;
    margin: 20px 0;
    padding: 15px;
    font-size: 26px;
}

header.entry-header {
    background: #da251d;
    color: #ffffff;
    font-weight: 500;
    padding: 0;
}

header.entry-header a {
    color: #ffffff;
}

header.entry-header h1 {
    margin: 0;
    display: inline-block;
    line-height: 70px;
}

.breadcrumb {
    font-size: 13px;
    background: transparent;
    margin: 0;
    padding: 0;
    line-height: 70px;
    list-style: none;
    text-align: right;
}

.breadcrumb > li a {
    color: rgba(255, 255, 255, .6);
    font-size: 14px;
    text-decoration: none;
}

.breadcrumb > li.active a {
    color: rgba(255, 255, 255, .8);
}

.breadcrumb > li:hover a {
    color: rgba(255, 255, 255, .95);
}

.breadcrumb > li + li:before {
    font-size: 14px;
    padding: 0 5px;
    content: "/\00a0";
}

.container {
    max-width: 100% !important;
}

@media (min-width: 768px) {
    .navbar-right .dropdown-menu {
        right: auto;
        left: 0;
    }
}

@media (max-width: 767px) {
    header ul.nav li.hover > ul.dropdown-menu,
    header ul.nav li:hover > ul.dropdown-menu {
        display: inline-block;
        width: 100%;
        position: relative;
        border: none;
        box-shadow: none;
        color: inherit;
    }

    .no_padding_xs {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.fm-form-container.fm-theme4 {
    width: 100% !important;
}

.fm-form-container.fm-theme4 .fm-pages.wdform_page_navigation {
    text-align: center !important;
}

.fm-form-container.fm-theme4 .fm-pages.wdform_page_navigation .page_active {
    padding: 0.3em 1.5em;
    margin: auto 0.5em;
    background-color: #da251d;
    border: none !important;
}

.fm-form-container.fm-theme4 .fm-pages.wdform_page_navigation .page_deactive {
    margin: auto 0.2em;
    background-color: #da857e;
    border: none !important;
}

.ui-datepicker {
    background: #eae5e6;
}

.fm-form .button-submit {
    background-color: transparent !important;
    border: solid 2px rgb(176, 46, 53) !important;
    color: rgb(176, 46, 53) !important;
    border-radius: 5px !important;
    padding: 8px 15px !important;
}

.fm-form .button-submit:hover {
    background-color: rgb(176, 46, 53) !important;
    border: solid 2px rgb(176, 46, 53) !important;
    color: #ffffff !important;
}

.fm-form .button-reset {
    background-color: #85696f !important;
    border: solid 2px rgb(176, 46, 53) !important;
    color: rgb(255, 244, 251) !important;
    border-radius: 5px !important;
    padding: 8px 15px !important;
}

.fm-form .button-reset:hover {
    background-color: rgb(143, 37, 43) !important;
    border: solid 2px rgb(176, 46, 53) !important;
    color: #ffffff !important;
}

.fm-form .wdform-page-button {
    background-color: #cccccc !important;
    color: rgb(176, 46, 53) !important;
    border: solid 2px rgb(176, 46, 53) !important;
    border-radius: 5px !important;
    padding: 8px 15px !important;
}

.fm-form .wdform-page-button:hover {
    background-color: #8f8f8f !important;
    color: rgb(149, 39, 46) !important;
    border: solid 2px rgb(149, 39, 46) !important;
    border-radius: 5px !important;
    padding: 8px 15px !important;
}

.fm-form .wd-choice label {
    -ms-word-break: normal !important;
    word-break: normal !important;
    text-align: justify !important;
}

footer ul.social_menu {
    text-align: right;
}

footer ul.social_menu li a {
    margin-bottom: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    display: block;
    background: transparent;
    color: #ccc;
    font-size: 18px;
}

footer ul.social_menu li {
    display: inline-block;
    margin-right: 8px;
}

.button-cost a {
    color: #da251d;
}

span.wp-edit-link {
    position: absolute;
    top: -20px;
    z-index: 1000;
}

span.wp-edit-link a {
    border-radius: 40px;
    font-weight: 400;
    background-color: #9d1715;
    color: #fff;
    font-size: 14px;
    border: 0;
    padding: 10px 20px;
}

span.wp-edit-link a:hover {
    background-color: #9d1715;
    color: #fff;
}

.fm-form-container.fm-theme4 .fm-form .next-page div.wdform-page-button, .fm-form-container.fm-theme4 .fm-form .previous-page div.wdform-page-button {
    width: 100px !important;
    padding: 4px 10px !important;
}

#popmake-1072 button.pum-close.popmake-close {
    display: none !important;
    visibility: hidden !important;
}

.btn.btn-red {
    color: #fff;
    background: #fd2016;
    padding: 7px 15px;
    border-radius: 15px;
    max-width: 241px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    transition: all 0.5s ease;
}

.btn.btn-red:hover {
    background: transparent;
    border: solid 1px #fd2016;
    color: #fd2016;
}

.btn.btn-red.btn-white-hover:hover {
    border: solid 1px #fd2016;
    background: #fff;
    color: #fd2016;
}

ul.gray_buttons li {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 110%;
    font-weight: bold;
}

ul.gray_buttons li a {
    display: block;
    border-radius: 0;
    padding: 8px 7px;
    text-decoration: none;
    width: 160px;
    margin: 5px 5px;
    text-align: center;
    font-size: 92%;
    background-color: #efefef;
    color: #333;
    font-weight: 100;
    font-family: Arial;
    border: solid 1px #999;
}

body {
    color: #000;
}

header section.top_menu nav .navbar-nav > .active > a, header section.top_menu nav .navbar-nav > .active > a:focus, header section.top_menu nav .navbar-nav > .active > a:hover, header section.top_menu nav .navbar-nav > .open > a, header section.top_menu nav .navbar-nav > .open > a:focus, header section.top_menu nav .navbar-nav > .open > a:hover, header section.top_menu nav .navbar-nav > li > a {
    background-color: transparent;
    color: #000;
    font-size: 15px;
    padding: 25px 11px 8px 11px;
    text-transform: capitalize;
}

.entry-content {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.row-full-nav a {
    color: #fff;
}

.row-full-nav a:hover {
    background: transparent;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: underline;
    background-color: transparent;
}

.titulo {
    color: #da251d;
    font-size: 32px;
    font-weight: 900;
    letter-spacing: -2px;
    line-height: 100%;
}

.subtitulo {
    padding: 0 10px;
    display: block;
    color: #000;
    text-align: center;
    font-size: 16px;
}

.table strong {
    font-weight: 500;
    color: #d0111a;
    text-shadow: 1px 1px 10px #fff;
}

.cuarres {
    background-color: rgba(255, 255, 255, 0.7);
    margin: 10px 0;
    padding: 14px;
    border: solid 1px #555;
}

.white {
    color: #fff;
    font-family: lato;
    font-size: 27px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 100%;
}

.margtop {
    margin-top: -106px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    min-height: initial;
}

.fondbl {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.07) 1%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0.82) 62%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.07) 1%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0.82) 62%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.07) 1%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0.82) 62%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#12ffffff', endColorstr='#d1ffffff', GradientType=0);

    border-radius: 5px 5px 0 0;
    padding: 30px 10px 10px 10px;
    border-bottom: none;
    box-shadow: 0 0 2px #000;
}

.call {
    width: 100%;
    position: relative;
}

.row-fulll {
    width: 100%;
    position: relative;
    padding: 0 15px 0 15px;
    background: rgb(238, 238, 238);
    background: -moz-linear-gradient(left, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 49%, rgba(238, 238, 238, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 49%, rgba(238, 238, 238, 1) 100%);
    background: linear-gradient(to right, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 49%, rgba(238, 238, 238, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#eeeeee', GradientType=1);
}

.row-full {
    width: 100%;
    background: url(http://ali.atlantisuniversity.edu/wp-content/uploads/2018/03/banner-min.jpg);
    position: relative;
    background-size: cover;
    padding: 238px 0 0 0;
}

.contenido {
    width: 100%;
    margin: auto;
}

.row-full2 {
    width: 100%;
    position: relative;
    padding: 20px 0;
    background: rgb(236, 246, 251);
    background: -moz-linear-gradient(left, rgba(236, 246, 251, 1) 0%, rgba(255, 255, 255, 1) 49%, rgba(236, 246, 251, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(236, 246, 251, 1) 0%, rgba(255, 255, 255, 1) 49%, rgba(236, 246, 251, 1) 100%);
    background: linear-gradient(to right, rgba(236, 246, 251, 1) 0%, rgba(255, 255, 255, 1) 49%, rgba(236, 246, 251, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ecf6fb', endColorstr='#ecf6fb', GradientType=1);
}

.row-full-nav {
    width: 100%;
    position: relative;
    margin-top: -30px;
    padding: 20px 0;
    background: #003865;
    background-size: cover;
}

.resaltartxt {
    font-weight: 600;
    font-size: 18px;
    color: #1f305d;
}

.cuadroresaltado2 {
    padding: 31px;
    border: solid 1px #999;
    min-height: 373px;
    background: #efefed;
    background: -moz-linear-gradient(left, #efefed 0%, #ffffff 51%, #f5f9f0 100%);
    background: -webkit-linear-gradient(left, #efefed 0%, #ffffff 51%, #f5f9f0 100%);
    background: linear-gradient(to right, #efefed 0%, #ffffff 51%, #f5f9f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefed', endColorstr='#f5f9f0', GradientType=1);
}

.cuadroresaltado {
    padding: 30px;
    border: solid 1px #999;
    min-height: 173px;
    background: #efefed;
    background: -moz-linear-gradient(left, #efefed 0%, #ffffff 51%, #f5f9f0 100%);
    background: -webkit-linear-gradient(left, #efefed 0%, #ffffff 51%, #f5f9f0 100%);
    background: linear-gradient(to right, #efefed 0%, #ffffff 51%, #f5f9f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefed', endColorstr='#f5f9f0', GradientType=1);
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent;
}

.mynavbar {
    text-align: center;
}

.mynavbar .nav {
    float: none;
}

.mynavbar .nav li {
    display: inline-block;
    float: none;
    margin: 0 5px;
    vertical-align: middle;
}

.dropdown-menu li {
    display: block;
    clear: both;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: 1px solid #999;
}

.homeb {
    color: #000;
    font-size: 17px;
    display: block;
    padding: 11px;
    background: #f2f5f7;
    box-shadow: 0 2px 0 #a8bbc6;
    border: solid 1px #fff;
}

.hometextr {
    color: #018391;
    font-weight: 600;
    letter-spacing: 4px;
    font-size: 24px;
}

.hometextr small {
    color: #0e1b22;
    letter-spacing: 1px;
}

.btnhome {
    transition: background-color 0.5s ease;
    display: block;
    border: solid 1px #fd2016;
    color: #fd2016;
    padding: 9px 0;
    border-radius: 31px;
    max-width: 241px;
    text-align: center;
    margin-top: 10px;
}

.btnhome:hover {
    color: #fff;
    background: #fd2016;
}

.subtitulo2 {
    color: #018391;
    font-size: 21px;
    letter-spacing: -2px;
}

.titulo2 {
    color: #111c24;
    font-weight: 900;
    font-size: 33px;
    letter-spacing: -2px;
}

.subwhite {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    text-shadow: 0 0 5px #000;
    letter-spacing: -1px;
}

.homewhite {
    color: #fff;
    text-shadow: 1px 1px 3px #333;
    font-weight: 900;
    letter-spacing: -1px;
}

.whitebtn {
    display: block;
    border: solid 1px #fff;
    margin-top: 14px;
    padding: 11px;
    color: #fff;
    text-align: center;
    border-radius: 42px;
}

.whitebtn:hover {
    color: #fff;
}

.start:hover {
    color: #fff;
}

.start {
    display: block;
    border: solid 1px #fff;
    padding: 10px;
    max-width: 300px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.4);
}

.padding_bottom_40 {
    padding-bottom: 0;
}

.row-full.super-row-bg {
    height: 350px;
    padding: 138px 0 0 0;
    background: url('/wp-content/uploads/2018/04/1-01-min.jpg');
}

@media only screen and (max-width: 600px) {
    .contenido {
        width: 100%;
        margin: auto;
        padding: 10px;
    }

    .row-full2 .col-md-4 {
        width: 100%;
    }

    .nav > li {
        width: 100%;
        display: block;
    }
}

.zsiq_float .zsiq_flt_rel {
    background-color: #9d1715 !important;
}